/*https://www.freecodecamp.org/news/css-unit-guide/*/
#mapid {
  height: 90vh;
  width: 90vw;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("eggFrame.png");
  
}

p {
  font-size: 20px;
}

