
.wrapper {
    width: initial;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-image: url("/img/MathildesrammeTOP.png");
    
  }
  
  .wrapper > * {
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 2 100%;
  }
  
  
  @media all and (min-width: 0px) {
    .front-header {
      width: initial;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-family: Courier New, Courier New, monospace;
      color: rgb(0, 0, 0);
      line-height: 1em;
      padding: 0.2em 1.5em 0.2em 1.5em;
      background:#ece280;
      
    }
    .index-main {
      width: initial;
      flex: 2 0px;
      background: rgb(255, 255, 255);
      line-height: 1.5em;
      
      background-position: top;
      background-repeat: no-repeat;
      height: 100vh;
      order: 2;
    }}
  
    h1 {
      width: initial;
      color: rgba(0, 0, 0, 0.938);
      font-size: 20px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
    } 
    h2 {
      width: initial;
      color: rgba(0, 0, 0, 0.938);
      font-size: 20px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
      font-weight: normal;
    } 
    h3 {
      width: initial;
      color: rgba(0, 0, 0, 0.938);
      font-size: 17px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
      font-weight: normal;
    } 
    h4 {
      width: initial;
      color: rgba(0, 0, 0, 0.938);
      font-size: 20px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
      font-weight: normal;
    } 
    h5 {
      width: inherit;
      color: #a2dd9b;
      font-size: 40px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
      font-weight: bold;
    } 
    
    .contain {
      width: auto;
      object-fit: contain;
    }
  
    button {
      border: none;
      color: #ffffff;
      padding: 15px 32px;
      text-align: center;
      border-radius: 10px;
      font-size: 20px;
      margin: 40px 2px;
      object-fit: scale-down;
      background:#a2dd9b;
      background-repeat: no-repeat;
      font-family: Courier New, Courier New, monospace;
      font-weight: bold;
    }
    .footer {
    width: inherit;
    height:inherit;
    float:right;
    overflow:auto;
    }
       .eggs{
        float: none;
        }
        .eggspic{
        width:100%;
        height:100%;
        }
        
        html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
      
      }
      #container {
          width: initial;
          height: inherit;
          margin: 0;
          padding: 0;
          
      }

      .pics{
        float: none;
        }
        .pic{
        width:100%;
        height:70%;
        }

        ol {margin-left: 0; padding-left: 0;list-style-type: square;list-style-position: inside}
        
        
        .switch {
          position: relative;
          display: inline-block;
          width: 70px;
          height: 50px;
        }
        
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 0px;
          bottom: 0px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        input:checked + .slider {
          background-color: #60c270;
        }
        
        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(45px);
        }
        
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
        
        .slider.round:before {
          border-radius: 50%;
        }