/*https://www.freecodecamp.org/news/css-unit-guide/*/
#mapid {
  height: 99vh;
  width: 99vw;
}

body {
  display: flex;
  justify-content: center;
}

p {
  font-size: 15px;
}

li {
  list-style-image: url("img/magnifier.png");
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0.5em;
}
