
.wrapper {
    width: initial;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-image: url("/img/MathildesrammeTOP.png");
    
  }
  
  .wrapper > * {
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 2 100%;
  }
  
  
  @media all and (min-width: 0px) {
    .front-header {
      width: initial;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-family: Courier New, Courier New, monospace;
      color: rgb(0, 0, 0);
      line-height: 1em;
      padding: 0.2em 1.5em 0.2em 1.5em;
      background:#ece280;
      
    }
    .index-main {
      width: initial;
      flex: 2 0px;
      background: rgb(255, 255, 255);
      line-height: 1.5em;
      
      background-position: top;
      background-repeat: no-repeat;
      height: 100vh;
      order: 2;
    }}
  
    h1 {
      width: initial;
      color: rgba(0, 0, 0, 0.938);
      font-size: 25px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
    } 
    h2 {
      width: initial;
      color: rgba(0, 0, 0, 0.938);
      font-size: 20px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
      font-weight: normal;
    } 
    h3 {
      width: initial;
      color: rgba(0, 0, 0, 0.938);
      font-size: 20px;
      line-height: 1em;
      font-family: Courier New, Courier New, monospace;
      margin-bottom: 0em;
      font-weight: normal;
    } 
    
    
    .contain {
      width: auto;
      object-fit: contain;
    }
  
    button {
      border: none;
      color: #020202;
      padding: 15px 32px;
      text-align: center;
      border-radius: 10px;
      font-size: 20px;
      margin: 4px 2px;
      object-fit: scale-down;
      background:#a2dd9b;
      background-repeat: no-repeat;
      font-family: Courier New, Courier New, monospace;
      font-weight: bold;
    }
    .footer {
    width: inherit;
    height:inherit;
    float:right;
    overflow:auto;
    }
       .eggs{
        float: none;
        }
        .eggspic{
        width:100%;
        height:100%;
        }
        
        html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
      
      }
      #container {
          width: initial;
          height: inherit;
          margin: 0;
          padding: 0;
          
      }

      .pics{
        float: none;
        }
        .pic{
        width:100%;
        height:70%;
        }